body{
    background-color: rgba(175, 123, 203, 0.444);
    text-align: center;
    display: flex;
    padding-left: 30vw;
    padding-top: 31vh;
    font-family: 'Merienda', cursive;

}
.display
{
    background-color: rgba(154, 77, 196, 0.281);
    font-size: 100px;
    /* text-align: center; */
    /* min-height: 1vh; */
    border:none;
    border-radius: 10px;
}
/* .stopwatch
{
    background-color: rgba(172, 86, 218, 0.193);

} */
.controls
{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    /* display: inline; */
    font-family: 'Merienda', cursive;


}
.start-button , .stop-button, .reset-button
{
    background-color: rgba(172, 86, 218, 0.193);

    margin-left:20px;
    margin-right:20px;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: rgba(172, 86, 218, 0.193);;
    border-radius: 5px;
    cursor: pointer;
}
.start-button:hover , .stop-button:hover, .reset-button:hover
{
    background-color: rgba(96, 48, 121, 0.488);
}